{:paths ["../../rx-lib/src/clj"
         "../../rx-lib/src/cljc"
         "../../rx-lib/src/cljs"
         "../../rx-lib/src/cljs-browser"
         "../../rx-lib/src/cljc"
         ;; charly
         "src/clj"
         "src/cljs-browser"]
 :deps {zk/rx-lib {:git/url "https://github.com/zk/rx-lib"
                   :sha "b0d2f709ddb3c7be6e6fe57e274772224ee2f231"}
        lambdaisland/glogi {:mvn/version "1.0.106"}}
 
 :aliases {:charly
           {:main-opts
            ["-m" "charly.main"]}
           :build-web
           {:main-opts
            ["-m" "charly.main" "-b"]}}}
