{:paths ["../../rx-lib/src/clj"
         "../../rx-lib/src/cljc"
         "../../rx-lib/src/cljs"
         "../../rx-lib/src/cljs-browser"
         "../../rx-lib/src/cljc"
         ;; charly
         "src/clj"]
 :deps {zk/rx-lib {:git/url "https://github.com/zk/rx-lib"
                   :sha "5d955bdeba69fa42a1840409a17536234e3579ab"}}
 
 :aliases {:charly
           {:main-opts
            ["-m" "charly.main"]}
           :build-web
           {:main-opts
            ["-m" "charly.main" "-b"]}}}
